<div class="container-fluid container-fluid-custom py-md-5 mb-5"> 
    <main>
      <div class="row py-md-5 text-center justify-content-center">
  
        <div class="col-md-12 col-lg-6 mb-6 mb-md-0">
          <h1 class="display-2 fw-bold mb-4 position-relative home-title">
            About Notes App
          </h1>
          <p class="fs-4 mb-4">
            Notes is a simple, accessible, and responsive note-taking application built using Node.js, EJS, and MongoDB. 
            It allows you to easily create, manage, and organize your notes without any hassle. Our goal is to provide a simple solution for users to jot down their thoughts and stay organized.
          </p>
          <p class="fs-4 mb-4">
            Built with the latest web technologies like Node.js, Bootstrap 5, and MongoDB, Notes is a free-to-use app that helps you write and manage your thoughts as they come to you. 
            Whether you're taking notes for work, school, or personal projects, Notes is here to help you stay on track.
          </p>
          <a href="/auth/google" class="btn btn-primary btn-lg">Try Notes, it's FREE!</a>
        </div>
  
      </div>
    </main>
  </div>
  